/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  text-decoration: none;
}

/*==========home page top===========*/
.content-top {
  color: #fff;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.content-top h1 {
  font-family: Adam,serif;
  font-size: 35px;
  padding: .5em 0 0 .5em;
  margin: 0 0 0 0;
}
.content-top h2 {
  font-family: porter,serif;
  font-size: 60px;
  text-align: center;
  margin: 3em 0 .5em 0;
}
.content-top h3 {
  font-family: porter;
  font-size: 25px;
  text-align: center;
}
.content-top h4 {
  font-family: porter;
  font-size: 15px;
  text-align: center;
  margin-top: 28em;
  padding: .5em;
}
.background_image {
    background-image: url("homepage.JPG");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/*========home page about us==========*/
.about_us_title {
  font-family: porter;
    margin-top: 2.5em;
    font-size: 60px;
}
.content-bottom {
  font-family: futura;
  width: 45%;
  font-size: 15px;
  margin-bottom: 8em;
  margin-top: 2em;
}

/*==========about us images============*/
.scott {
  float: right;
  margin: 13.5em 0 0 0em;
}

.scott img {
    border-radius: 50%;
    padding-left: 5em;
    padding-right: 5em;
}
.scott figcaption {
  font-family: futura;
  text-align: center;
  font-size: 15px;
}

.yankel {
  float: right;
  margin: 13.5em 0 0 0em;
}
.yankel img {
    border-radius: 50%;
    padding-left: 5em;
    padding-right: 5em;
}
.yankel figcaption {
  font-family: futura;
  text-align: center;
  font-size: 15px;
}

/*========home page services=========*/
.titles {
font-family: futura;
font-size: 45px;
opacity: 0.4;
padding-left: .1em;
padding-right: 1.65em;
}
.explore {
  font-family: futura;
  font-size: 15px;
  opacity: 0.7;
  text-align: center;
  padding-left: 7.55em;
  padding-right: 8.43em;
}
.alldaserviceinfo {
  text-align: center;
}
