/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  text-decoration: none;
}
.content-top {
  color: #fff;
}
.content-top h1 {
  font-family: Adam;
  font-size: 35px;
}

.content-top h2 {
  font-family: porter;
  font-size: 60px;
  text-align: center;
  margin: 3.5em 0 .5em 0;
}

.content-top h3 {
  font-family: porter;
  font-size: 25px;
  text-align: center;
}

.content-top h4 {
  font-family: porter;
  font-size: 15px;
  text-align: center;
}

body {
    background-image: url("homepage.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    /*position: absolute;*/
    clip: rect(0px,1000px,200px,0px);
}

.content-bottom h1 {
  font-family: porter;
    margin-top: 20em;
  /*margin-top: 25em;*/
}
.content-bottom p {
  font-family: futura;
  width: 45%;
  font-size: 15px;
  
}

table {
  float: right;
  margin-top: 20em;
}
.homeservice {

}
